$subHeaderFontColor: #de5499;

footer {
    background-color: #f2ebe9;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    color: $subHeaderFontColor;
}

footer p {
    margin: 0;
}

footer div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}


#footer-socials {
    display: flex;
    gap: 12px;
}
.social-icons-footer {
    font-size: 1.4rem;
    color: $subHeaderFontColor;
    transition: transform 0.3s ease-in-out;
}

.social-icons-footer:hover {
    transform: scale(1.3);
    
}