$darkTertiaryColor: #9c2d65;
$primaryBackgroundColor: #eddcd9;
$secondaryHeaderFooterColor: #f2ebe9;
$subHeaderFontColor: #de5499;

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

#app {
  // background-color: $primaryBackgroundColor;
  color: #264143;

}

.odd {
    background-color: $primaryBackgroundColor;
    clip-path: polygon(0% 10%, 100% 0%, 100% 95%, 0% 100%);
}

body {
  margin: 0;
  height: 100vh;
  // background: linear-gradient(-5deg, #fff 50%, $primaryBackgroundColor 50%);
  // background-size: 100% 150%;
  // background: repeating-linear-gradient(-5deg, black, black 50%, white 50%, white);
}

.even {
  background-color: #fff;
}

#main-container {
  // max-width: 1400px;
  // margin: 0 auto;
  // padding: 20px;
  width: 100vw;
}

.contain {
  max-width: 1400px;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  font-weight: bold !important;
  color: $subHeaderFontColor !important;
  border-bottom: 3px solid $subHeaderFontColor;
  width: fit-content;
  margin: 20px auto 25px auto !important;
}