$darkTertiaryColor: #9c2d65;
$primaryBackgroundColor: #eddcd9;
$secondaryHeaderFooterColor: #f2ebe9;
$subHeaderFontColor: #de5499;

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

#app {
  background-color: $primaryBackgroundColor;
  color: #264143;
}

#main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  font-weight: bold !important;
  color: $subHeaderFontColor !important;
  border-bottom: 3px solid $subHeaderFontColor;
  width: fit-content;
  margin: 20px auto 25px auto !important;
}