$subHeaderFontColor: #de5499;
$darkTertiaryColor: #9c2d65;

nav.navbar {
    background-color: #f2ebe9;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
}

.navbar-nav {
    margin-right: 150px;
}

.nav-item a {
    font-size: 1.2rem;
    color: $subHeaderFontColor;
}

.nav-item a:hover{
    color: $darkTertiaryColor !important;
}

.nav-item a.active{
    color: $darkTertiaryColor !important;
}

#KLlogo {
    margin-left: 50px;
}

#KLlogo img {
    width: 75px;
}