nav.navbar {
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    border: 1px solid red;
}

.navbar-nav {
    margin-right: 150px;
}

nav.navbar h3 {
    position: absolute;
    left: 20px;
}

.nav-item a {
    font-size: 1.2rem;
}

#KLlogo {
    margin-left: 50px;
}

#KLlogo img {
    width: 75px;
}