@import './index';

nav.navbar {
    background-color: $secondaryHeaderFooterColor;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100vw;
    box-shadow: 5px 5px 10px 5px #ccc;
}

.navbar-nav {
    margin-right: 150px;
}

.nav-item a {
    font-size: 1.2rem;
    color: $subHeaderFontColor;
}

.nav-item a:hover{
    color: $darkTertiaryColor !important;
}

.nav-item a.active{
    color: $darkTertiaryColor !important;
}

#KLlogo {
    margin-left: 50px;
}

#KLlogo img {
    width: 75px;
}