#skills {
    padding-top: 70px;
    margin: 0 auto;
}

#skills-icon-container {
    /* display: flex;
    flex-wrap: wrap;
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12px;
    width: fit-content;
    margin: 0 auto;
}

.icon {
    padding-top: 10px;
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.icon img {
    height: 60px;
}

.icon p {
    font-size: .8rem;
    margin-top: 5px;
}

.icon:hover{
    transform: scale(1.2);
}